/* 
  ## Geral
*/

body {
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    background-color: #051D3B;
}
/* 
  ## Device = Smartphones
  ## Screen = 320px to 767px
*/

.site {
    width: 100%;
    /* max-width: 767px;    */
    min-width: 320px;
    margin-left: auto; 
    margin-right: auto;
    /* background-color: deeppink;  */
}

    .site__header {
        max-height: 4em;
        padding: 0 1em;
        display: flex;
        flex-flow: row nowrap;
        justify-content:space-between;

        /* background-color: yellow;  */
    }

        .header__logo {
            min-width: 5em;
            background-image: url(../img/alura_logo.svg);
            background-repeat: no-repeat;
            background-size: 90%;
            background-position: center;
            align-self: center;

                /* background-color: orange;  */
        }

            .hiddentext {
                visibility: hidden;
            } 

        .header__search {
            /* width: 8em; */
            width: 60%;
            align-self: center;
            padding: 1em;

            /* background-color: orange;  */
        }

            .header__search--icon {

                min-height: 2.5em; 
                background-image: url(../img/icon_search_mobile.svg);
                background-repeat: no-repeat;
                background-size: 30 %;
                background-position: right center;
                /* background-color: aquamarine;  */
            }

            .header__search--input {
                /* visibility: hidden; */
                display: none;
            } 

        .header__author {
            /* align-self: center; */
            display: none;
            /* visibility: hidden; */
        }

        .header__menu {
            /* min-height: 3em; */
            align-self: center;

        }
            .header__menu--icon {
                min-height: 2.5em;
                background-image: url(../img/icon_menu.svg);
                background-repeat: no-repeat;
                background-size: 65%;
                background-position: center center;
                /* background-color: aqua; */
            } 

        .main__menu {
            display: none;
        }

        .site__main {
            padding: 0 1em;
            display: flex;
            flex-flow: column nowrap;
            /* justify-content: space-between; */
            align-items: stretch;
            
            /* border: 2px solid red; */
        }

        .main__content {
            padding: 0 1em;
            /* border: 2px solid yellow; */
            align-self: center;
            width: 100%;
        } 

            .content__box {
                background-color: rgba(107, 209, 255, 1);
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                padding: 1.5em;
                border-radius: 0.5em;
                
            }

                #codeEditor {
                    background-color: rgba(20, 20, 20, 1);
                    padding: 2.5em 2em 2em 2em;
                    align-self: stretch;
                    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
                    border-radius: 0.5em;
                    margin: 0;
                    border: none;
                    color: #fff;
                    font-family: 'Roboto Mono';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 0.875em;
                    line-height: 1.125em;
                    resize: none;
                    position: relative;
                }

                .content__box--button {
                    background-image: url(../img/mac_buttons.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50%;
                    width: 50px;
                    height: 50px;
                    align-self: flex-start;
                    position: absolute;
                    top: 90px;
                    left: 50px;                    
                }

                .content__button {
                    align-self: stretch;
                    width: 100%;
                    min-height: 4em;
                    margin: 2em 0;
                    border-radius: 0.5em;
                    border: none;
                    background-color: rgba(80, 129, 251, 0.08);
                    color: #fff;
                    font-weight: 100;
                }

        .main__sidebar {
            /* border: 2px solid yellow; */
            align-self: center; 
            /* padding: 1em; */
            margin: 0 1em;
            width: 100%;
        } 

            .sidebar__project {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                justify-content: space-between;
                /* border: 2px solid red; */
            }

                #projectName {
                    margin: 0.5em 0 1em;
                    align-self: stretch;
                    display: inline-block;
                    box-sizing: border-box;     
                    border-radius: 8px;
                    border: none;
                    background-color: rgba(255, 255, 255, 0.16);
                    height: 4em;
                    width: 100%;
                    resize: none;
                    -webkit-scrollbar: none;
                    overflow:hidden;
                    
                }

                    #projectName::placeholder {
                        color: rgba(255, 255, 255, 0.64);
                        padding: 1em;
                        font-family: 'Inter', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        text-align: left;
                        font-size: 1em;
                        line-height: 1.5em;
                    }

                #projectDesc {
                    margin-bottom: 1em;
                    align-self: stretch;
                    display: inline-block;
                    box-sizing: border-box;   
                    border-radius: 8px;
                    border: none;
                    background-color: rgba(255, 255, 255, 0.16);
                    height: 5em;
                    width: 100%;
                    resize: none;
                    min-height: 5em;
                }

                #projectDesc::placeholder {
                    color: rgba(255, 255, 255, 0.64);
                    padding: 1em;
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    text-align: left;
                    font-size: 1em;
                    line-height: 1.5em;
                }

                .menu__title {
                    text-align: left;
                    font-size: 0.75em;
                    line-height: 1.125em;
                    letter-spacing: 0.4em;
                    text-transform:uppercase;
                    vertical-align: top;
                    color: #FFFFFF;
                    font-weight: 200;
                    align-self: stretch;
                }

            .sidebar__selection {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                justify-content: space-between; 
                /* border: 1px solid red; */
            }

                .sidebar__select {
                    margin: 0.5em 0 0.5em;
                    align-self: stretch;
                    display: inline-block;
                    border-radius: 8px;
                    border: none;
                    background-color: rgba(255, 255, 255, 0.16);
                    height: 4em;
                    width: 100%;
                    resize: none;
                    color: rgba(255, 255, 255, 0.64);
                    font-weight: 100;
                    padding: 0.5em;
                }

                .sidebar__color {
                    /* margin-bottom: 1em; */
                    margin: 0.5em 0 0.5em;
                    align-self: stretch;
                    display: inline-block;
                    box-sizing: border-box;
                    width: 100%;
                    height: 4em;
                    border-radius: 8px;
                    border: 1px solid #fff;
                    background-color: transparent;
                    padding: 0.5em;
                }

                    .sidebar__color::-webkit-color-swatch-wrapper {
                    padding: 0;
                    }
              
                    .sidebar__color::-webkit-color-swatch {
                    border: none;
                    border-radius: 4px;
                    }

                    
                    

                

/* 
  ## Device = Tablets
  ## Screen = 768px to 1024px
*/

@media (min-width: 768px) {

    .site {
        width: 100%;
        /* max-width: 1024px;  */
        min-width: 768px;
        margin: auto; 
        /* background-color: deeppink; */
    }    

        .site__header {
            padding: 1em;
        }

            .header__search {
                width: 50%;
                padding: 3em;
                text-align: center;
                /* background-color: red; */
            }

                .header__search--icon {
                    display: none;
                }

                .header__search--input {
                    display: inline-block   ;
                    box-sizing: border-box;    
                    border-radius: 8px;
                    border: none;
                    background-color: rgba(255, 255, 255, 0.16);
                    height: 3.5em;
                    width: 100%;
                }

                .header__search--input::placeholder {
                    color: rgba(255, 255, 255, 0.64);
                    padding: 1em;
                    font-style:normal;
                    text-align: left;
                }

        .sidebar__selection {
            display: flex;
            flex-flow: row nowrap;
            align-items: center; 
            justify-content:space-between;
            
        }

            .sidebar__select {
                align-self: center; 
                margin-right: 0.5em;
            }

            .sidebar__color {
                align-self: center;
                margin-left: 0.5em;
                
            }

}

/* 
  ## Device = Desktops
  ## Screen = 1025 to 1280px
*/

@media (min-width: 1025px) {

    .site {
        min-width: 1024px;
        margin: auto; 
        /* border: 4px solid yellow; */
    }

        .site__header {
        /* border: 4px solid red; */
        /* background-color: orange; */
    
        }

            .header__logo {
                /* background-color: deeppink; */
            }

            .header__search {
                /* background-color:lightblue; */
            }

            .header__author {
                /* width: 15%; */
                min-height: 2.5em;
                align-self: center;
                justify-content: space-between;
                display: flex;
                flex-flow: row nowrap;
                /* background-color: deeppink; */
            }

                .header__author--photo {
                    align-self: center;
                    min-height: 2.5em;
                    padding-right: 0.5em;
                    background-image: url(../img/author_photo_samanta.png);
                    background-repeat: no-repeat;
                    background-size: 70%;
                    background-position: center center; 
                    
                    /* background-color: orange; */
                }

                .header__author--name {
                    align-self: center;
                    padding: 0 0.5em;
                    /* background-color: orange; */
                }


            .header__menu {
                /* background-color: deeppink; */
                display: none;
            } 
        
        .site__main {
            padding: 0 1em;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            
            border: 2px solid red;
        }

            .main__menu {
                padding: 0;
                min-width: 12em;
                max-width: 20em;
                /* max-width: 12em;  */
                /* width: 15%; */
                display: inline-block;
                border: 2px solid yellow;
            }

                /* .menu__title {
                    text-align: left;
                    font-size: 0.75em;
                    line-height: 1.125em;
                    letter-spacing: 0.4em;
                    text-transform:uppercase;
                    vertical-align: top;
                    color: #FFFFFF;
                } */

                    .menu__item {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        
                    }

                        .menu__item ul {
                            list-style: none;
                        }

                        .menu__item a {
                            text-decoration: none;
                            color: #FFFFFF;
                        }

                            .menu__item--title {
                                line-height: 2.375em;
                                font-size: 1em;
                                text-align: left;
                                position: relative;
                                bottom: 1em;
                                padding-left: 0.5em;
                            }

                                .menu__item--title:hover {
                                    opacity: 0.56;
                                }

                            .menu__item--editor {
                                list-style-image:url(../img/icon_menu_editor.svg);
                                margin-left: 1em;
                            }

                                .menu__item--editor:hover {
                                    opacity: 0.56;
                                }

                            .menu__item--comuni {
                                list-style-image:url(../img/icon_menu_comuni.svg);
                                margin-left: 1em;
                            } 

                                .menu__item--comuni:hover {
                                    opacity: 0.56;
                                }

        .main__content {
            padding: 0.5em;
            min-width: 30em;
            /* max-width: 40em; */
            /* width: 48%; */
            border: 2px solid yellow;
            align-self: stretch;
            margin-left: 2.5em;
        } 

        .main__sidebar {
            padding: 0.5em;
            /* width: 20%; */
            min-width: 15em;
            max-width: 20em;
            /* max-width: 20em; */
            border: 2px solid yellow;
            align-self: stretch; 
            /* display: inline-block; */
            margin-left: 2.5em;
        } 

        .sidebar__selection {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: space-between; 
            /* border: 1px solid red; */
        }

            .sidebar__select {
                margin: 0.5em 0 0.5em;
                align-self: stretch;
                display: inline-block;
                /* border-radius: 8px;
                border: none;
                background-color: rgba(255, 255, 255, 0.16);
                height: 4em;
                width: 100%;
                resize: none;
                color: rgba(255, 255, 255, 0.64);
                font-weight: 100;
                padding: 0.5em; */
            } 

            .sidebar__color {
               
                margin: 0.5em 0 0.5em;
                align-self: stretch;
                display: inline-block;
                /* box-sizing: border-box;
                width: 100%; */
                /* height: 4em;
                border-radius: 8px;
                border: 1px solid #fff;
                background-color: transparent;
                padding: 0.5em; */
            }

                /* .sidebar__color::-webkit-color-swatch-wrapper {
                padding: 0;
                }
          
                .sidebar__color::-webkit-color-swatch {
                border: none;
                border-radius: 4px;
                }  */


}

