:root {
    --white: #FFFFFF;
    --light-gray: #C4C4C401;
    --gray: #666666;
    --dark-gray: #141414;
    --black: #000000;
    --red: #F65151;
    --blue-100: #96B9FD;
    --blue-200: #7BA4FC;
    --blue-300: #5081FB;
    --blue-dark: #051D3B;
    --blue-heavy: #2D415B;
    --blue-default: #6BD1FF;

    --white-tp-8: #FFFFFF08;
    --white-tp-16: #FFFFFF16;
    --white-tp-24: #FFFFFF24;
    --white-tp-56: #FFFFFF56;
    --white-tp-64: #FFFFFF64;
    --black-tp-16: #00000016;
    --black-tp-24: #00000024;
    --blue-tp-8: #5081FB08;
    --blue-tp-16: #5081FB16;
    --blue-tp-24: #5081FB24;
    --blue-tp-64: #5081FB64;
    --blue-tp-72: #5081FB72;

    --font-family: 'Inter', sans-serif;
    --font-family-editor: 'Roboto Mono', monospace;

    --font-size-title: 1.313rem;
    --font-size-body: 1rem;
    --font-size-sb: 0.75rem;
    --font-size-editor: 0.875rem;
    
    --line-height-title: 2rem;
    --line-height-body: 1.5rem;
    --line-height-sb: 1.125rem;
    --line-height-editor: 1.154rem;
    
    --font-weight-title: 700;
    --font-weight-body: 400;
}