@import url(_variaveis.css);
@import url(_reset.css);

body {
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-body);
    color: var(--white);
    
    background-color: var(--blue-dark);

    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem 2rem 2rem;
}

p {
    color: var(--white);
}

hr.separator {
    border: 0.25px solid var(--white);
    opacity: 8%;
    width: 100%;
}

.title{
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-title);
}

.title--sb {
    font-size: var(--font-size-sb);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-sb);

    text-transform: uppercase;
    letter-spacing: 0.4em;
    display: block;
}


#active {
    opacity: 100%;
}

#hidden {
    opacity: 0;
    display: none;
    visibility: hidden;
} 

.hidden {
    opacity: 0;
    display: none;
    visibility: hidden;
}

.disabled {
    opacity: .2;
}

/* input:required:invalid, textarea:required:invalid {
    background-image: url(../../img/icons/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
  }
  input:required:valid, textarea:required:valid {
    background-image: url(../../img/icons/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
  } */