@media (min-width: 1025px) {
<<<<<<< HEAD
    .site__content {
        display: grid;
        
        grid-template-columns: 1fr 3fr 3fr;
        grid-template-rows: auto;  
        
        align-items: start;
        justify-items: stretch;
    }
    .site__menu {
        grid-row-start: 2;
        grid-row-end: 3;

=======
    .site {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 100px auto;  
        justify-items: stretch;
        align-items: start;
        gap: 1rem 0.5rem;

    }

    .site__header {
        grid-column-start: span 3;
    }

    .site__menu {
        grid-row-start: 2;
        grid-row-end: 3;
>>>>>>> 215dc1338c3268c9226dd5546e9b34bdfdc264f5
        justify-self: start;
    }
    
    .site__feed {
<<<<<<< HEAD
        grid-column: 2 / span 2;
        grid-row: 2 / 3;
        
        justify-self: end;

        overflow: hidden;

        width: 100%;
    }

    .feed {
        display: grid;
        grid-template-columns: 50% 50%;

        width: 100%;
=======
        grid-row: 2 / 3;
        grid-column: 2 / span 2;
        justify-self: end;

        width: 100%;
        overflow: hidden;
    }

    .feed {
        width: 100%;
        display: grid;
        /* grid-template-areas: 
          "post"
          "post"
          "post"
          "post"; */
        grid-template-columns: 50% 50%;
        /* grid-template-rows: 1fr 1fr; */
>>>>>>> 215dc1338c3268c9226dd5546e9b34bdfdc264f5
    }
    
}