@media (min-width: 1025px) {
    .feed {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;

        padding-left: 0;
    }

    .feed__grid {
        width: 78%;
        display: grid;
        grid-template-areas: 
          "post"
          "post"
          "post"
          "post";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    
}