.feed__text {
    background-color: var(--black-tp-16);

    border-radius: 0.5rem;

    padding: 5rem;

    grid-column: span 3;

    font-size: var(--font-size-title);
    line-height: 2rem;
    text-align: center;

    overflow: hidden;
    
}

.feed__text ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
}

.feed__text li{
    background-color: var(--white-tp-8);

    border-radius: 0.5rem;

    margin-top: 1rem;
    padding: 0.75rem;

    justify-content: center;

    width: fit-content;
}

@media (min-width: 1025px) {
<<<<<<< HEAD
    .feed__text {
        margin-left: 2rem;
    }
    
=======
>>>>>>> 82f4e06fc1f6b979b568710fa3676bb4037967e9
    .site__content {
        display: grid;
        
        grid-template-columns: 1fr 3fr 3fr;
        grid-template-rows: auto;  
        
        align-items: start;
        justify-items: stretch;
    }
    .site__menu {
        grid-row-start: 2;
        grid-row-end: 3;

        justify-self: start;
    }
    
    .site__feed {
        grid-column: 2 / span 2;
        grid-row: 2 / 3;
        
        justify-self: end;

        overflow: hidden;

        width: 100%;
    }

    .feed {
        display: grid;
        grid-template-columns: 50% 50%;

        width: 100%;
    }
    
}