@media (min-width: 1025px) {
<<<<<<< HEAD
    .site__content {
        display: flex;

        flex-direction: row;
        flex-wrap: nowrap;

        justify-content: space-between;
    }

    .site__menu {
        flex-grow: 0;
        
        min-width: 12rem;
    }

    .site__editor {
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 0;

        width: 100%;
    }

    .site__form {
        flex-grow: 0;
        
        width: 15rem;
    }

} 
=======
    .site {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 100px auto;  
        justify-items: stretch;
        align-items: start;
        gap: 1rem 0.5rem;
    }

    .site__header {
      grid-column-start: span 3;
    }

    .site__menu {
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: start;
    }
    
    .site__editor {
        grid-row: 2 / 3;
        grid-column: 2 / 3;    
    }

    .site__form {
        grid-row: 2 / 3;
        grid-column: 3 / 3;
        justify-self: end;
    }

}
>>>>>>> 215dc1338c3268c9226dd5546e9b34bdfdc264f5
