.button {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: center;

    border-radius: 0.5rem;
    border: none;

    padding: 1rem 4.68rem;  
    width: 100%;
    box-sizing: border-box;

    cursor: pointer;
    white-space:nowrap;
}

.button--outlined {
    background-color: var(--blue-tp-8);
    
    color: inherit;
}

    .button--outlined:hover {
        background-color: var(--blue-tp-16);
    }

    .button--outlined:active {
        background-color: var(--blue-tp-16);
        border: 4px solid var(--blue-tp-24);
    }

    .button--outlined:focus {
        background-color: var(--blue-tp-24);
    }

.button--filled {
    background-color: var(--blue-300);
    
    color: var(--blue-dark);
}

    .button--filled:hover {
        background-color: var(--blue-200);
    }

    .button--filled:active {
        background-color: var(--blue-200);
        border: 4px solid var(--blue-tp-72);
    }

    .button--filled:focus {
        background-color: var(--blue-100);
    }