.card {
    background-color: var(--black-tp-24);

    border-radius: 0.5rem;
}

.card__content {
    padding: 1.5rem;

    min-height: 5.5rem;
}

.card__title {
    display: block;

    font-size: 1.313rem;
    line-height: 1.938rem;
    
    margin-bottom: 0.5rem;
}

.card__text {
    color: var(--white-tp-80);
    
    display: block;
}

.card__social {
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.card__comment {
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.user {
    flex-grow: 2;
    align-self: flex-end;
    justify-content: flex-end;

    opacity: 100%;
}

.user__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
    opacity: 100%;

    min-height: 2rem;
    padding-right: 0.75rem;
}

    .user__wrapper:hover {
        background-color: var(--white-tp-16);

        border-radius: 0.5rem;

        opacity: 100%; 
    }

    .user__wrapper:active {
        background-color: var(--white-tp-24);

        border-radius: 0.5rem;

        opacity: 100%; 
    }

