.card {
    background-color: var(--black-tp-24);
<<<<<<< HEAD

=======
>>>>>>> 215dc1338c3268c9226dd5546e9b34bdfdc264f5
    border-radius: 0.5rem;
}

.card__content {
    padding: 1.5rem;
<<<<<<< HEAD

=======
>>>>>>> 215dc1338c3268c9226dd5546e9b34bdfdc264f5
    min-height: 5.5rem;
}

.card__title {
    display: block;

<<<<<<< HEAD
    font-size: 1.313rem;
    line-height: 1.938rem;
    
    margin-bottom: 0.5rem;
}

.card__text {
    color: var(--white-tp-80);
    
    display: block;
}

.card__social {
    box-sizing: border-box;
    
=======
    margin-bottom: 0.5rem;

    font-size: 1.313rem;
    line-height: 1.938rem;
}

.card__text {
    display: block;
    color: var(--white-tp-80);
}

.card__social {
>>>>>>> 215dc1338c3268c9226dd5546e9b34bdfdc264f5
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
<<<<<<< HEAD
}

.card__comment {
    box-sizing: border-box;
    
=======

    box-sizing: border-box;
}

.card__comment {
>>>>>>> 215dc1338c3268c9226dd5546e9b34bdfdc264f5
    display: flex;
    flex-direction: column;
    align-items: flex-end;

<<<<<<< HEAD
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.user {
    flex-grow: 2;
    align-self: flex-end;
    justify-content: flex-end;

    opacity: 100%;
}

.user__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
=======
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    box-sizing: border-box;
    padding-bottom: 1rem;
}

.user {
    opacity: 100%;

    flex-grow: 2;
    align-self: flex-end;
    justify-content: flex-end;
}

.user__wrapper {
>>>>>>> 215dc1338c3268c9226dd5546e9b34bdfdc264f5
    opacity: 100%;

    min-height: 2rem;
    padding-right: 0.75rem;
<<<<<<< HEAD
}

    .user__wrapper:hover {
        background-color: var(--white-tp-16);

        border-radius: 0.5rem;

        opacity: 100%; 
    }

    .user__wrapper:active {
        background-color: var(--white-tp-24);

        border-radius: 0.5rem;

        opacity: 100%; 
=======

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

    .user__wrapper:hover {
        opacity: 100%; 

        background-color: var(--white-tp-16);

        border-radius: 0.5rem;
    }

    .user__wrapper:active {
        opacity: 100%; 

        background-color: var(--white-tp-24);

        border-radius: 0.5rem;
>>>>>>> 215dc1338c3268c9226dd5546e9b34bdfdc264f5
    }

