.card {
    background-color: var(--black-tp-24);
    border-radius: 0.5rem;
}

.card__content {
    padding: 1.5rem;
    min-height: 5.5rem;
}

.card__title {
    display: block;

    margin-bottom: 0.5rem;

    font-size: 1.313rem;
    line-height: 1.938rem;
}

.card__text {
    display: block;
    color: var(--white-tp-80);
}

.card__social {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    box-sizing: border-box;
}

.card__comment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    box-sizing: border-box;
    padding-bottom: 1rem;
}

.user {
    opacity: 100%;

    flex-grow: 2;
    align-self: flex-end;
    justify-content: flex-end;
}

.user__wrapper {
    opacity: 100%;

    min-height: 2rem;
    padding-right: 0.75rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

    .user__wrapper:hover {
        opacity: 100%; 

        background-color: var(--white-tp-16);

        border-radius: 0.5rem;
    }

    .user__wrapper:active {
        opacity: 100%; 

        background-color: var(--white-tp-24);

        border-radius: 0.5rem;
    }

