.code {
    background-color: var(--blue-default);

    border-radius: 0.5rem;

    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

.code__editor {
    font-family: var(--font-family-editor);
    font-size: var(--font-size-editor);
    line-height: var(--line-height-editor);
    color: var(--white);

    background-color: var(--dark-gray);
    box-shadow: 0px 16px 24px 0px var(--black-tp-24);

    border-radius: 0.5rem;

    padding: 3.25rem 1rem 1rem;
    margin: 2rem;

    box-sizing: border-box;
    width: calc(100% - 4rem);
    resize: vertical;

    background-image: url(../../img/icons/mac-buttons.svg);
    background-repeat: no-repeat;
    background-size: 3.25rem 0.75rem;
    background-position: top 1rem left 1rem;
}

    .code__editor:focus {
        outline: none;
    }