.icon {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 1rem; 

    box-sizing: border-box;
    
    display: block; 

    min-width: 3rem;
    min-height: 3rem;
}

.icon--editor {
    background-image: url(../../img/icons/editor.svg);

    margin-right: 1rem;
}

.icon--users {
    background-image: url(../../img/icons/users.svg);

    margin-right: 1rem;
}

.icon--profile {
    background-image: url(../../img/profile.png);
    background-size: 2rem;

    margin-right: 0;
}

.icon--comment {
    background-image: url(../../img/icons/comment.svg);
    background-size: 2rem 1.25rem;

    margin-right: 0;
}

.icon--heart {
    background-image: url(../../img/icons/heart.svg);
    background-size: 2rem 1.25rem;

    margin-right: 0;
}

.icon--heart-liked {
    background-image: url(../../img/icons/heart-red.svg);
    background-size: 2rem 1.25rem;

    margin-right: 0;
}

.icon--remove {
    background-image: url(../../img/icons/trash.svg);
    background-size: 2rem 1.25rem;

    margin-right: 0;
}

.icon--user {
    background-image: url(../../img/profile.png);
    background-size: 1.5rem;

    margin-right: 0;

    opacity: 100%;
}

.icon--menu {
    background-image: url(../../img/icons/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem 1.5rem;

    min-height: 3rem;
    min-width: 3rem;

    opacity: 100%;
}

    .icon--menu:hover {
        background-color: var(--blue-tp-24);
        
        border-radius: 0.5rem;
    }

    .icon--menu:active {
        background-color: var(--blue-tp-64);
        
        border-radius: 0.5rem;
    }

.icon--search {
    background-image: url(../../img/icons/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem 1.5rem;
    
    min-height: 3rem;
    min-width: 3rem;
    
    margin-right: 1rem;
    padding-left: 2.25rem;
}

.icon--close {
    min-height: 1.25rem;
    min-width: 1.25rem;
    
    padding-left: 2.25rem;
}