.input {
    background-color: var(--white-tp-16);
    
    color: var(--white-tp-64);
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;

    box-sizing: border-box;
    width: 100%;
    padding: 1rem;

    border: none;
    border-radius: 0.5rem;

    outline: none;
}

    .input::placeholder {
       color: var(--white-tp-64);
    }

    .input:hover {
        background-color: var(--white-tp-24);
    }
    
.input--description {
    resize: vertical;
}


