.search__bar  {
    display: none;
}

.search--fade {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    overflow: hidden;

    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
}

.search__box {
    background-color: var(--blue-heavy);

    width: 100%;
    height: 100%;
    position: relative;
    top: 1.5rem;
    left: 1.5rem;
    padding: 1.5rem;
    box-sizing: border-box;

    text-align: left;
}

.search__close {
    background-image: url(../../img/icons/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.25rem 1.25rem;
 
    position: absolute;
    top: 2.5rem;
    right: 0.5rem;
}

#search-fade:target {
    opacity: 1;
    width: 100%;
    height: 100%;
	padding: 1.5rem;

    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#pageSearch:target .search--fade {
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s, width 0s ease 0.5s, height 0s ease 0.5s;
          transition: opacity 0.5s, transform 0.5s, width 0s ease 0.5s, height 0s ease 0.5s;
	
    padding: 1.5rem;
} 

@media (min-width: 768px) {

    .search {
        flex-grow: 3;   
        
        margin-left: 2.5rem;
        margin-right: 1.5rem;
    }
    .search__bar  {
        display: flex;
    }
    .icon--search {
        display: none;
    }
}

@media (min-width: 1025px) {
    .search {
        width: 90%;

        margin-left: 3rem;
        margin-right: 4rem;
    }
    .icon--search {
        display: none;
    }

}