.comment-box {
    display: flex; 
    flex-direction: column;
    
    width: 100%;
}

.comment-box__title {
<<<<<<< HEAD
    align-self: flex-start;
    
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.comment-box__item {
    opacity: 80%;
    
=======
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    align-self: flex-start;
}

.comment-box__item {
>>>>>>> 215dc1338c3268c9226dd5546e9b34bdfdc264f5
    padding-top: 0.5rem;
    padding-bottom: 0;

    margin-bottom: 0.5rem;
<<<<<<< HEAD
=======

    opacity: 80%;
>>>>>>> 215dc1338c3268c9226dd5546e9b34bdfdc264f5
}

.comment-box__icon {
    background-image: url(../../img/profile.png);
    background-size: 2rem;
    background-position: left;

    margin-right: 0;
}

.comment-box__close {
    background-image: url(../../img/icons/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.75rem;
<<<<<<< HEAD

    cursor: pointer;
    
    display: block; 

    opacity: 70%;

=======
    opacity: 70%;

    display: block; 

>>>>>>> 215dc1338c3268c9226dd5546e9b34bdfdc264f5
    min-width: 1rem;
    min-height: 1rem;

    box-sizing: border-box;
<<<<<<< HEAD
=======

    cursor: pointer;
>>>>>>> 215dc1338c3268c9226dd5546e9b34bdfdc264f5
}

    .comment-box__close:hover {
        opacity: 100%;
    }

    .comment-box__close:active {
        opacity: 100%;
    }