.editor__bg {
    margin-bottom: 2rem;
}   

.editor__btn {
    margin-bottom: 1.5rem;
}

@media (min-width: 1025px) {
    .editor {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

}