.editor__bg {
    margin-bottom: 2rem;
}   

.editor__btn {
    margin-bottom: 1.5rem;
}

@media (min-width: 1025px) {
    .editor {
        width: 60%;

        margin-left: 0;
        margin-right: 1rem;
    }

}