.form {
    display: flex;
    flex-wrap: wrap;
}

.form__title {
    margin-top: 1rem;
    margin-bottom: 1rem;

    width: 100%;
}

.form__input {
    margin-bottom: 1rem;
}

.form__btn {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

@media (min-width: 1025px) {
    .form {
        width: 100%;
        padding-left: 2rem;

        max-width: 50rem;
    }

    .form__title:first-child {
        margin-top: 0;
    }
}