.header {
    box-sizing: border-box;
    
    margin-top: 1.5rem;
    margin-bottom: 3.184rem;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo {
    flex-grow: 2;
} 

.header__profile {
    display: none;
}

@media (min-width: 768px) {
    .header__logo {
        flex-grow: 0;
    }

    .header__profile {
        display: none;
    }
    
}

@media (min-width: 1025px) {
    .header {
        margin-top: 0.5rem;

        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr;  
        justify-items: stretch;
        align-items: center;
        gap: 1rem 1rem;

       
    }

    .header__logo {
        grid-column: 1 / 2;
        grid-row: 1 / 1;

        justify-self: start;
    }

    .header__search {
        grid-column: 2 / 3;
        grid-row: 1 / 1;

        /* justify-self: center;
        align-self: center; */
    }
    
    .header__profile {
        grid-column: 3 / 3;
        grid-row: 1 / 1;
        justify-self: end;

        display: flex;
        padding-top: 1rem;
    }
}
