.main__menu {
    display: none;
}

@media (min-width: 1025px) {
    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .main__menu {
        display: flex;
        width: 20%;
    }

    .main__editor {
        width: 60%;

        margin-left: 0;
        margin-right: 1rem;

        position: relative;
    }

    .main__form {
        width: 20%;
    }

}