.post {
    margin-bottom: 2rem;
}

.post__wrapper {
    background-color: var(--black-tp-24);

    border-radius: 0.5rem;
}

.post__code-input {
    height: 15rem;
}

@media (min-width: 1025px) {
    .post {
        margin-left: 2rem;
    }

}