.post {
    margin-bottom: 2rem;
<<<<<<< HEAD
    margin-left: 2rem;
=======
>>>>>>> 215dc1338c3268c9226dd5546e9b34bdfdc264f5
}

.post__wrapper {
    background-color: var(--black-tp-24);

    border-radius: 0.5rem;
}

.post__code-input {
    height: 15rem;
}
